{{!---------- Product dispaly section :User-Side ---------}}
<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 pt-4">
                <div class="card" style="width: 15rem; height:22rem;">
                    <img class="card-img-top" src="/product-images/{{_id}}.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-title">₹{{price}}<p>
                        <p class="card-text">{{description}}</p>
                        <button onclick="addToCart('{{_id}}')" id="cart-count" class="btn btn-primary">Add to
                            Cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<script>
    /* ---------- AJAX: Add to cart ---------- */
    function addToCart(productId) {
        $.ajax({
            url: '/add-to-cart/' + productId,
            method: 'get',
            success: (response) => {
                alert(response)
                // if(response.status){
                //     let count=$('#cart-count').html()
                //     count=parseInt(count)+1
                //     $('#cart-count').html(count)
                // }
            }
        })
    } 
</script>